ul.cand {
  color: white;
  height: 43vh;
  width: 25vw;
  margin: 0;
  list-style-type: none;
  line-height: 1.5;
  padding-left: .5em;
  text-align: left;
  overflow: auto;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

ul.cand li:hover {
    background-color: white;
		color: black;
}

.info{
  color: white;
  width: 25vw;
  height: 40vh;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.graph{
	float:left;
	margin-left: 25vw;
  max-width: 50vw;
  height: 86vh;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.right{
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 25vw;
}

table.cand_table{
  width: 70%;
  overflow: hidden;
  background: #FFF;
  color: #0E6655;
  border-radius: 10px;
  border: 1px solid #0E6655;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 24px;
}

tr{
    border: 1px solid #D9E4E6;
}

th {
  display: none;
  border: 1px solid #FFF;
  background-color: #0E6655;
  color: #FFF;
  padding: .5em;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 20px;
  display: table-cell;
  text-align: center;
}

td {
  background: #0e0e0e;
	border-right: 1px solid #000;
	border-left: 1px solid #191919;
	border-top: 1px solid #000;
	border-bottom: 1px solid #191919;
	padding: .5em;
	position: relative;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 30px;
  word-wrap: break-word;
  box-shadow: inset 1px 0 0 #000;
}

p{
  color: #167F92;
}

.alignleft{
	float: left;
	padding-left: .5em;
}

.alignright{
	float: right;
	padding-right: .5em;
}
