ul.cand {
  color: #CC99CC;
  height: 38.5vh;
  width: 24vw;
  margin: 0;
  list-style-type: none;
  line-height: 2;
  padding-left: .5em;
  text-align: left;
  overflow: auto;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
}

ul.cand li:hover {
    color: #58cce1;
}

.info{
  color: #CC99CC;
  width: 24vw;
  height: 38.5vh;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 13px;
  line-height: 15px;
}

.graph{
	float:left;
  width: 43vw;
  height: 80vh;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
  color: #CC99CC;
}

h1{
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 20px;
  line-height: 25px;
  color: #CC99CC;
}

.right{
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 25vw;
}

table.cand_table{
  margin-top: 60px;
  width: 70%;
  overflow: hidden;
  background: #FFF;
  color: #CC99CC;
  border-radius: 10px;
  border: 1px solid #CC99CC;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 18px;
}

tr{
    border: 1px solid #D9E4E6;
}

th {
  display: none;
  border: 1px solid #FFF;
  background-color: #CC99CC;
  color: #FFF;
  padding: .5em;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 12px;
  line-height: 14px;
  display: table-cell;
  text-align: center;
}

td {
  background: #0e0e0e;
	border-right: 1px solid #000;
	border-left: 1px solid #191919;
	border-top: 1px solid #000;
	border-bottom: 1px solid #191919;
	padding: .5em;
	position: relative;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 12px;
  line-height: 14px;
  word-wrap: break-word;
  box-shadow: inset 1px 0 0 #000;
}

p{
  color: #CC99CC;
}

.alignleft{
	float: left;
	padding-left: .5em;
}
