ul.cand {
  color: #dd2838;
  height: 95vh;
  width: 22vw;
  margin: 0;
  list-style-type: none;
  padding-left: .5em;
  text-align: left;
  overflow: auto;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
}

ul.cand li:hover {
    color: orange;
    cursor: pointer;
}

ul.cand li:visited {
    color: #dd2838;
}

.cand{
  color: #dd2838;
  float: right;
  width: 25vw;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.left {
  float: left;
  vertical-align: middle;
  color: #dd2838;
  width: 45vw;
  height: 100vh;
  position: absolute;
}

.heatmap {
  height: 300px;
  max-width: 30vw;
  position: relative;
}

.heatmap > img.map {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}
