ul.cand {
  color: #dd2838;
  height: 80vh;
  width: 22vw;
  margin: 0;
  list-style-type: none;
  padding-left: .5em;
  text-align: left;
  overflow: auto;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
}

ul.cand li:hover {
    color: orange;
    cursor: pointer;
}

.cand{
  color: #dd2838;
  float: right;
  width: 25vw;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.left {
  float: left;
  vertical-align: middle;
  color: #dd2838;
  width: 45vw;
  height: 80vh;
}

.heatmap {
  float:center;
  height: 60vh;
  width: 60vh;
  margin: 2em auto 0;
  position: relative;
    top: 60%;
    left: 50%;
    margin-left: -200px;
    margin-top: -240px;;
}

.heatmap > img.map {
  height: 100%;
  position: absolute;
  width: 100%;
}
