.horz_nav ul{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.horz_nav ul li{
  float: left;
  color: #68B357;
  text-align: center;
  width: 14vw;
}

.horz_nav ul a{
  text-decoration: none;
  color: #68B357;
}

.horz_nav ul li a:hover{
  color: pink;
}

.horz_nav ul a:visited{
  color: #68B357;
}

p{
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  color: #68B357;
}

.max_con{
  margin-top: 5vh;
  color: white;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 20px;
}

table.con_table{
  width: 70%;
  overflow: hidden;
  background: #FFF;
  color: #68B357;
  border-radius: 10px;
  border: 1px solid #68B357;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 24px;
}

caption{
  font-size: 20px;
  line-height: 30px;
  vertical-align: top;
}

tr{
    border: 1px solid #D9E4E6;
}

th {
  display: none;
  border: 1px solid #FFF;
  background-color: #68B357;
  color: #FFF;
  padding: .5em;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 20px;
  display: table-cell;
  text-align: center;
}

td {
  background: #0e0e0e;
	border-right: 1px solid #000;
	border-left: 1px solid #191919;
	border-top: 1px solid #000;
	border-bottom: 1px solid #191919;
	padding: .5em;
	position: relative;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 14px;
  line-height: 30px;
  word-wrap: break-word;
  box-shadow: inset 1px 0 0 #000;
}
