{{define "title"}}
  Candidate Information
{{end}}

{{define "body"}}
<div class = "right">
  <div>
    <ul id="candidateList" class="cand"></ul>
  </div>

  <div class = "info">
      <p class="alignleft"><br><br>Candidate ID: {{.Data.Candidate.ID}}<br><br>
      Name:  {{.Data.Candidate.FirstName}} {{.Data.Candidate.LastName}}</p>
      <p><br>
      <center><table class="cand_table">
        <tr>
          <th>Position</th>
          <th>Year</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table></center>
    </p>
  </div>
</div>

<div class = "graph">
  <h1>Contributions</h1>
  <!--graph code-->
  <h1>Expenditures</h1>
</div>
{{end}}

{{define "includes"}}
<script type="text/javascript" src="/js/heatmap.js"></script>
<link rel="stylesheet" type="text/css" href="/css/cand_info.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script src=""></script>
{{end}}
