{{define "title"}}
  Candidate Information
{{end}}

{{define "body"}}
<div class = "right">
  <div>
    <ul id="candidateList" class="cand">
      <li>
        <input type="text" style="width: 90%; padding: 0.3em; margin-bottom: 4px;" placeholder="Filter" onkeyup="filter(this)" />
      </li>
    </ul>
  </div>

  <div class = "info">
      <p class="alignleft"><br><br>Candidate ID: {{.Data.Candidate.Candidate.ID}}<br><br>
      Name:  {{.Data.Candidate.Candidate.FirstName}} {{.Data.Candidate.Candidate.LastName}}</p>
      <p><br>
      {{if .Data.History}}
        <center><table class="cand_table">
          <tr>
            <th>Position</th>
            <th>Year</th>
          </tr>
          {{$names := .OfficeMap}}
          {{range $i, $candidacy := .Data.History}}
            <tr>
              <td>{{index $names $candidacy.OfficeCode}}</td>
              <td>{{$candidacy.Year}}</td>
            </tr>
          {{end}}
        </table></center>
      {{end}}
    </p>
  </div>
</div>

<div class = "graph">
  {{if .Data.Summaries}}
    <h1>Contributions &amp; Expenditures</h1>
    <!--graph code-->
    <div id="contrib_graph"> </div>
    <h1>Expenditures</h1>
    <div id="expense_graph"> </div>
    <h1>Top Contributors</h1>
    <table class="cand_table" style="width: 100%; margin: 0 0 10px 0;">
      <tr>
        <th>Name</th>
        <th>Total Raised</th>
        <th>Year</th>
      </tr>
      {{range $i, $contrib := .Data.Contribs}}
        <tr>
          <td>{{$contrib.Name}}</td>
          <td>{{price $contrib.Amount}}</td>
          <td>{{$contrib.Year}}</td>
        </tr>
      {{end}}
    </table>

    <h1>Top Expenses</h1>
    <table class="cand_table" style="width: 100%; margin: 0 0 10px 0;">
      <tr>
        <th>Name</th>
        <th>Total Spent</th>
        <th>Year</th>
      </tr>
      {{range $i, $expense := .Data.Expenses}}
        <tr>
          <td>{{$expense.Name}}</td>
          <td>{{price $expense.Amount}}</td>
          <td>{{$expense.Year}}</td>
        </tr>
      {{end}}
    </table>

    <h1>Top Expenditure Reasons</h1>
    <table class="cand_table" style="width: 100%; margin: 0 0 10px 0;">
      <tr>
        <th>Reason</th>
        <th>Times Used</th>
      </tr>
      {{range $i, $reason := .Data.Reasons}}
        <tr>
          <td>{{$reason.Str}}</td>
          <td>{{$reason.Frequency}}</td>
        </tr>
      {{end}}
    </table>

    <h1>Top Door Prizes From Contributions</h1>
    <table class="cand_table" style="width: 100%; margin: 0 0 10px 0;">
      <tr>
        <th>From</th>
        <th>Value Of Prizes</th>
      </tr>
      {{range $i, $prize := .Data.PrizesGiven}}
        <tr>
          <td>{{$prize.From}}</td>
          <td>{{price $prize.Amount}}</td>
        </tr>
      {{end}}
    </table>

    <h1>Top Door Prizes Purchased by Campaign</h1>
    <table class="cand_table" style="width: 100%; margin: 0 0 10px 0;">
      <tr>
        <th>From</th>
        <th>Value Of Prizes</th>
      </tr>
      {{range $i, $prize := .Data.PrizesBought}}
        <tr>
          <td>{{$prize.From}}</td>
          <td>{{price $prize.Amount}}</td>
        </tr>
      {{end}}
    </table>
  {{else}}
    <h1>Candidate Information Page</h1>
    <div>
      Please click on a candidate's name to the right in order to view
      detailed information about them and the finances of their candidacies
      over the years.
    </div>
  {{end}}
</div>
{{end}}

{{define "includes"}}
<script type="text/javascript">
  var rawData = {{.Data.Summaries}};
  var doChart = {{if .Data.Summaries}}true{{else}}false{{end}};
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/candinfo.js"></script>
<script type="text/javascript" src="/js/heatmap.js"></script>
<link rel="stylesheet" type="text/css" href="/css/cand_info.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script src=""></script>
{{end}}
