{{define "base"}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{template "title" .}}
    </title>

    <script type="text/javascript" src="/js/jq/jquery.js"></script>
    <script type="text/javascript" src="/js/candidates.js"></script>

    {{block "includes" .}}{{end}}
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

  </head>

  <body>
      <div class="container">
        <nav>
          <ul>
            <li class="active"><a href="/home">Home</a></li>
            <li><center><img class="divider" src="../../img/nav_circle.png" height="20" width="100"></center></li>
            <li><a href="/candinfo">Candidate Information</a></li>
            <li><center><img class="divider" src="../../img/nav_circle.png" height="20" width="100"></center></li>
            <li><a href="/highspender/2001">Highest Spender</a></li>
            <li><center><img class="divider" src="../../img/nav_circle.png" height="20" width="100"></center></li>
            <li><a href="/mostpaid/2001">Most Paid</a></li>
            <li><center><img class="divider" src="../../img/nav_circle.png" height="20" width="100"></center></li>
            <li><a href="/trends">Trends in Expenditure and Contribution</a></li>
            <li><center><img class="divider" src="../../img/nav_circle.png" height="20" width="100"></center></li>
            <li><a href="/graphs">Contributor Heat Map</a></li>
          </ul>
        </nav>

        <article>
          {{template "body" .}}
        </article>
      </div>

      <footer>
        Made by Anish Goyal, Brian Wong, Poorva Sampat
      </footer>
  </body>

</html>
{{end}}
