{{define "base"}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{template "title" .}}
    </title>
    {{block "includes" .}}{{end}}
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">-->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>

      <div class="header">
          <div class="search">
              <input type="text" class="text-area" name="inputMessage" />
              <button class="button">search</button>
          </div>
      </div>

      <div class="container">
        <nav>
          <ul>
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="CandInfo.html">Candidate Information</a></li>
            <li><a href="HighSpender.html">Highest Spender</a></li>
            <li><a href="MostPaid.html">Most Paid</a></li>
            <li><a href="Trends.html">Trends in Expenditure and Contribution</a></li>
            <li><a href="Graphs.html">Expense and Contribution District Graphs</a></li>
          </ul>
        </nav>

        <article>
          {{template "body" .}}
        </article>
      </div>

      <footer>
        <br />Made by Anish Goyal, Brian Wong, Poorva Sampat<br />
      </footer>

  </body>

</html>
{{end}}
