{{define "title"}}
  Contributor Heat Map
{{end}}

{{define "body"}}
  <div>
    <ul id="candidateList" class="cand">
      <li>
        <input type="text" style="width: 90%; padding: 0.3em; margin-bottom: 4px;" placeholder="Filter" onkeyup="filter(this)" />
      </li>
    </ul>
  </div>
  <div class="left">
    <div style="position: absolute; left: 50%; transform: translateX(-50%);">

      <div style="text-align: center">
        <h4>
          {{.Data.Candidate.FirstName}} {{.Data.Candidate.LastName}}
          {{if .Data.BoroughPercentages.IsAmountMode}}
            (By Dollar Amount)
          {{else}}
            (By Number of Contributions)
          {{end}}
        </h4>
      </div>

      <div class="heatmap">
        <img class="map" style="opacity: {{.Data.BoroughPercentages.Bronx}}" src="/img/heat_bronx.png" />
        <img class="map" style="opacity: {{.Data.BoroughPercentages.Brooklyn}}" src="/img/heat_brooklyn.png" />
        <img class="map" style="opacity: {{.Data.BoroughPercentages.Manhattan}}" src="/img/heat_manhattan.png" />
        <img class="map" style="opacity: {{.Data.BoroughPercentages.Queens}}" src="/img/heat_queens.png" />
        <img class="map" style="opacity: {{.Data.BoroughPercentages.StatenIsland}}" src="/img/heat_staten_island.png" />
      </div>
      <br />

      <div style="text-align: center">
        {{if .Data.BoroughPercentages.IsAmountMode}}
          <a style="color: white;" href="/graphs/{{.Data.CandID}}">Switch to viewing based on number of contributions</a>
        {{else}}
          <a style="color: white;" href="/graphs/amt/{{.Data.CandID}}">Switch to viewing amounts</a>
        {{end}}
      </div>
    </div>
  </div>
{{end}}

{{define "includes"}}
<script type="text/javascript" src="/js/heatmap.js"></script>
<link rel="stylesheet" type="text/css" href="/css/heatmap.css" />
{{end}}
