{{define "title"}}
  Contributor Heat Map
{{end}}

{{define "body"}}
  <div>
    <ul id="candidateList" class="cand"></ul>
  </div>
  <div class="left">
    <div class="heatmap">
      <img class="map" style="opacity: {{.Data.Bronx}}" src="/img/heat_bronx.png" />
      <img class="map" style="opacity: {{.Data.Brooklyn}}" src="/img/heat_brooklyn.png" />
      <img class="map" style="opacity: {{.Data.Manhattan}}" src="/img/heat_manhattan.png" />
      <img class="map" style="opacity: {{.Data.Queens}}" src="/img/heat_queens.png" />
      <img class="map" style="opacity: {{.Data.StatenIsland}}" src="/img/heat_staten_island.png" />
    </div>
  </div>
{{end}}

{{define "includes"}}
<script type="text/javascript" src="/js/heatmap.js"></script>
<link rel="stylesheet" type="text/css" href="/css/heatmap.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
{{end}}
