{{define "title"}}
  Highest Spender
{{end}}

{{define "body"}}

<div class="horz_nav">
  <ul>
    <li value="2001" onclick="ChangeCaption(this.value)"><a href="/highspender/##2001">2001</a></li>
    <li value="2003" onclick="ChangeCaption(this.value)"><a href="/highspender/##2003">2003</a></li>
    <li value="2005" onclick="ChangeCaption(this.value)"><a href="/highspender/##2005">2005</a></li>
    <li value="2009" onclick="ChangeCaption(this.value)"><a href="/highspender/##2009">2009</a></li>
    <li value="2013" onclick="ChangeCaption(this.value)"><a href="/highspender/##2013">2013</a></li>
  </ul>
</div>
<div class="max_spender">
  <p>
  The following table represents the candidates who spent the largest amount per year
  <center><table class="spender_table">
    <caption id="caption">2001</caption>
    <tr>
      <th>Position</th>
      <th>Candidate Name</th>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td></td>
    </tr>
    </table></center>
  </p>
</div>

{{end}}

{{define "includes"}}
<link rel="stylesheet" type="text/css" href="/css/high_spender.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script src="js/high_spender.js"></script>
{{end}}
