{{define "title"}}
  Trends
{{end}}

{{define "body"}}
<div>
  <ul class = "questions">
    <li onclick="window.location.href='/trends/ExpChange'">Change in expenditure amount over the years</li>
    <li onclick="window.location.href='/trends/ConChange'">Change in contribution amount over the years</li>
    <li onclick="window.location.href='/trends/HighSpender'">Highest spender of all time</li>
    <li onclick="window.location.href='/trends/HighContrib'">Highest contributor of all time</li>
    <li onclick="window.location.href='/trends/MostPaid'">Most paid candidate of all time</li>
  </ul>
</div>
<div class="left">
  {{block "trendBody" .}}
    To developer: PLEASE USE loadTrendsTemplate for loading trends
    templates.
  {{end}}
</div>
{{end}}

{{define "includes"}}
<link rel="stylesheet" type="text/css" href="/css/trends.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script src=""></script>
{{end}}
