{{define "title"}}
  Trends
{{end}}

{{define "body"}}
<div>
  <ul class = "questions">
    <li>Change in expenditure amount over the years</li>
    <li>Change in contribution amount over the years</li>
    <li>Highest spender of all time</li>
    <li>Highest contributor of all time</li>
    <li>Most paid candidate of all time</li>
  </ul>
</div>
<div class="left">
  <h1 id="heading">Click on a Query on the right to view trends</h1>
  <!-- Add any graph here-->
  <p id="p"> </p>
</div>
{{end}}

{{define "includes"}}
<link rel="stylesheet" type="text/css" href="/css/trends.css" />
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script src=""></script>
{{end}}
