{{define "title"}}
  Home
{{end}}

{{define "body"}}
<p class="intro">
  Welcome to the Poorva Sampat / Brian Wong / Anish Goyal campaign finance
  data inspector!
</p>
<p class="intro">
  This tool helps you discover interesting figures about campaign finance
  in NYC elections. For this purpose, we're using data about contributions
  NYC campaigns have received, and expenses they have recorded over the years
  2001, 2003, 2005, 2009, and 2013.
</p>
<p class="intro">
  You're currently looking at the home page. It displays this message.
</p>
<p class="intro">
  The Candidate Information page allows you to look at one of many different candidates and get information about them.
</p>
<p class="intro">
  Highest Spender gives you a list of the campaigns that spent the most money
  in NYC campaigns for given years.
</p>
<p class="intro">
Most Paid gives you a list of the campaigns that received the most contributions
in NYC campaigns for given years.
</p>
<p class="intro">
Trends in expenditure and contribution have various charts and tables containing
datapoints that explain various details about contributions and expenses in NYC
campaigns.
</p>
<p class="intro">
The contributor heat map gives you a basic heat map for each candidate which shows
where they received the most contributions from, both in number of contributions and
in total contribution amount.
</p>

{{end}}

{{define "includes"}}
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script src=""></script>
{{end}}
