{{define "trendBody"}}
<h4 style="margin: 10px 0; text-transform: capitalize;">
  Change in expenditure amount over the years
</h4>
<div style="padding-top: 10px">
  <center><table>
    <tr>
      <th>Year</th>
      <th>Average Expenditure</th>
    </tr>
    {{range $i, $amount := .Data}}
    <tr>
      <td>{{$amount.Year}}</td>
      <td>{{price $amount.Amount}}</td>
    </tr>
    {{end}}
  </table></center>
</div>
<div id="graph" style="padding-top: 30px;"></div>
{{end}}

{{define "trendInclude"}}
<script type="text/javascript">
  var rawData = {{.Data}};
</script>
<script type="text/javascript" src="/js/conchange.js"></script>
{{end}}
