{{define "title"}}
  Contributor Heat Map
{{end}}

{{define "body"}}
  <div class="heatmap">
    <img style="opacity: {{.Data.Bronx}}" src="/img/heat_bronx.png" />
    <img style="opacity: {{.Data.Brooklyn}}" src="/img/heat_brooklyn.png" />
    <img style="opacity: {{.Data.Manhattan}}" src="/img/heat_manhattan.png" />
    <img style="opacity: {{.Data.Queens}}" src="/img/heat_queens.png" />
    <img style="opacity: {{.Data.StatenIsland}}" src="/img/heat_staten_island.png" />
  </div>
{{end}}

{{define "includes"}}
<link rel="stylesheet" type="text/css" href="/css/heatmap.css" />
{{end}}
